.blue {
  background-color: #1F2937;
}

/* Header content */
header {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
}

.header-logo {
  color: white;

}
.header-links {
  list-style: none;
  display: flex;
  background-color: white;
  align-items: center;
}

li {
  display: inline;
  padding: 0 10px;
}

/* Hero content */
.hero-section {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.hero-title {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-paragraph {
  color: white;
  padding: 0;
  margin: 0;
}

.hero-button {
  padding: 5px 25px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
  border-color: transparent;
}

.hero-image {
  width: 50%;
  max-height: 250px;
  background-color: #E5E7EB;
}

.hero-image-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}
